@tailwind base; 
@tailwind components; 
@tailwind utilities; 

.f1{
    max-width: 100%;
    width: 120wv;
    height: 170px;
    color: #023047;
    display: flex;
    flex-direction: row;
    background-color: #023047;
    }

.Foot{
    width: 10%;
}
.g2{
    margin-left: 0%;
    left:0%
}
.g4{
    margin-left: 0%;
}
.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}

.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}

.Department{
}
.IITB{
    justify-content: center;
    scale: 0.5;
}

.login-scroll {
    overflow: hidden;
}
.nav-title{
    width: 500px;
    height: 27.26px;
    flex-shrink: 0;
    fill: #FFF;
  }
  .Home{
    color: var(--White, #FFF);
  
  /* R 20 - */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .Department{
    color: var(--White, #FFF);
  
  /* R 20 - */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .NavName{
    display: flex;
    align-items: center;
    gap: 50px;
  }